.row
  .col-xs-8.col-xs-offset-2
    %ul.nav.nav-tabs
      %li= link_to "My Contacts", account_contacts_path, class: "btn btn-success"
      %li= link_to "My Messages", account_messages_path, class: "btn btn-success"
      %li= link_to "My Profile", account_profile_index_path, class: "btn btn-success"
