<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <p><%= @client_lastname %> <%= @client_firstname %> "<%= @client_email %>" est intéressé par votre annonce</p>
      <%= @message %>
    </p>
  </body>
</html>
